.App {
  text-align: center;
}

.App__Top {
  display: flex;
  justify-content: space-between;
}

.APP__Top__Left {
  display: flex;
}

.App__Footer {
  display: flex;
  justify-content: space-between;
}
