.App {
  /* display: flex; */
  text-align: center;
  margin: 16px;
}

.App__Top {
  display: flex;
  justify-content: space-between;
}

.App__Footer {
  display: flex;
  justify-content: space-between;
}