
div{
    overflow: hidden;
}

#greeting h2{
        font-size: 337.5%;
        font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
 
}

#greeting .transition {
    transition: transform .5s ease;
}




[contentEditable="true"].single-line {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

[contentEditable="true"].single-line br {
    display: none;
}

[contentEditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

 [contentEditable="false"] {
   min-width: 1.5em;
   margin-bottom: -8px;
   border-bottom: 3px solid #ffffff;
   cursor: auto;
}  

