/***************************
   Weather & Main Component
****************************/

#Weather {
  padding: 17px;
}

.Weather--Main__Row {
  display: flex;
}

.Weather--Main__Row i {
  font-size: 1.7em;
}

.temp {
  font-size: 1.5em;
  padding-top: 2px;
}

.location {
  font-size: 10px;
  text-transform: uppercase;
}

/********************
    Weather Modal
*********************/


.Weather--Modal {
  width: 380px;
  height: 205px;
  background-color: rgba(15,15,15,.925);
  margin-left: auto;
  margin-top: 80px;
  margin-right: 5px;
  border-radius: 3px;
  color: white;
  outline: none;
  border-radius: 3px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

/********************
   Current Weather 
*********************/

.CurrentWeather__Container {
  display: flex;
  justify-content: space-between;
}

.CurrentWeather__Wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 15px;
}

.CurrentWeather__Top {
  display: flex;
  flex-direction: column;
}

.current-location {
  font-size: 1.3em;
}

.current-weather {
  opacity: 0.5;
}

.Weather__Bottom {
  display: flex;
  align-items: center;
}

.Weather__Bottom i {
  font-size: 4em;
}

.current-temp {
  font-size: 3.5em;
}

.temp-unit {
  opacity: 0.5;
  text-align: right;
  padding: 15px;
  height: 50px;
}

/*********************
    Forecast Weather 
*********************/

.ForecastWeather__Container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  padding: 0 15px;
  border-top: 1px solid rgba(255,255,255,.15);
}

.ForecastWeather__Wrapper {
  margin-top: 8px;
}

.day {
  font-size: 10px;
  margin-left: 19px;
  text-transform: uppercase;
  opacity: 0.6;
}

.Daily__Weather {
  opacity: 0.85;
}

/* .Daily__Weather i {
  font-size: 1.3em;
  margin-right: 3px;
} */

.temp-low, .temp-high {
  font-size: 11px;
}

.temp-low {
  margin-left: 3px;
  opacity: 0.5;
}

/********************
    Hover Effects 
*********************/


#Weather:hover {
  cursor: pointer;
}

.CurrentWeather__Top:hover {
  cursor: pointer;
}
/* 👆 Need to add a location icon so user can change the location when clicked */

.temp-unit:hover {
  cursor: pointer;
  opacity: 1;
}